<div class="panel panel-default">
    <div class="panel-heading">
        <button class="btn btn-primary" (click)="toggleContent()" id="bt">
            {{buttonName}}
        </button>
        <h1>User Details</h1>
    </div>
    <div class="panel-body" *ngIf="show">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="info">Name</th>
                    <th class="info">Age</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.name}}</td>
                    <td>{{user.age}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>